@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body {
    background-color: #212121;
    color: #DEDEDE;
    padding: 1rem 3rem;
}

header {
    font-size: 100px;
    font-weight: 500;
    font-family: 'Righteous', cursive;
    color: #27fdf5;
    letter-spacing: -9px;
    border-bottom: 3px solid #f765b8;
    text-shadow: 2px 2px 12px #f98dc9;
}

h1 {
    color: #a8f6f8;
}