@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    background-color: #212121;
    color: #DEDEDE;
    padding: 1rem 3rem;
}

header {
    border-bottom: 3px solid #f765b8;
    color: #27fdf5;
}

header .site-title {
    font-size: 100px;
    font-weight: 500;
    font-family: 'Righteous', cursive;
    letter-spacing: -9px;
    text-shadow: 2px 2px 12px #f98dc9;
}

h1 {
    color: #a8f6f8;
}

h3 {
    color: #212121;
    background-color: #fff;
}

.diagonal-box {
    position: relative;
    padding: calc(100vw * 0.09719) 0;
}

.diagonal-box{
    background-image: linear-gradient(45deg, #27fdf5, #f765b8);
    height: calc(100% + 100px);
    clip-path: polygon(0% 50px, 100% 0%, 100% calc(100% - 50px), 0% 100%);
    margin-top: -1px;
  }

.diagonal-box-content img {
    position: absolute;
    border-radius: 50%;
    top: 2.5rem;
    bottom: 0;
    margin: auto;
    width: 20rem;
}

.diagonal-box-content {
    max-width: var(--width);
    margin: 0 auto;
    padding: 1.5em;
    position: relative;
}